<section class="common-footer">
    <div class="common-footer-social-media-list">
        <ul type="none" class="common-footer-social-media">
            <li id="sm"><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li id="sm"><a href=""><fa-icon [icon]="faFaceBook"></fa-icon></a></li>
            <li id="sm"><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li id="sm"><a href=""><fa-icon [icon]="faEnvelope"></fa-icon></a></li>
        </ul>
    </div>
    <div class="common-footer-cpyrt">&copy;&nbsp;sneakYours | All Rights Reserved.</div>
</section>